/* Setup */
.simple-carousel ul {overflow: hidden; margin: 0 !important; padding: 0 !important}
.simple-carousel li {margin: 0 0 10px !important; padding: 0 !important}
.simple-carousel li:before, .simple-carousel li:after {content: "" !important}

/* DeviantArt v6 skin */
.simple-carousel {
	width: 120px;
	position: relative;
	padding: 38px 10px;
	background: #4D625D;
	border: 1px solid #BECAC6;
	-moz-border-radius: 10px;
}
.simple-carousel ul {
	height: 300px;
}
.simple-carousel li img {
	display: block;
	margin: 0 auto;
	border: 0;
	max-width: 120px;
	width: expression( if(this.clientWidth > 120) this.width=120 ) /* IE6 fix */
}

/* Buttons */
.simple-carousel .up, .simple-carousel .down {
	background: transparent url('carousel.gif') no-repeat;
	width: 18px;
	height: 18px;
	position: absolute;
	left: 60px;		/* 120/2 */
	cursor: pointer;
}

.simple-carousel .up {top: 10px; background-position: -18px 0}
.simple-carousel .down {bottom: 10px; background-position: 0 0}

.simple-carousel .up:hover, .simple-carousel .up:active {
	background-position: -18px -18px;
}
.simple-carousel .down:hover, .simple-carousel .down:active {
	background-position: 0 -18px;
}
